name: CI Pipeline
on:
  push:
    branches: [main]
  pull_request: 
    branches: [main]
      
jobs: 
  build: 
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code 
        uses: actions/checkout@v5
      
      - name: Set up Node.js
        uses: actions/setup-0node@v4
        with: 
            node-vesion: 18

      - name: Install dependencies
        run: npm Install
      
      - name: Run tests
        run: npm test


